.DS_Store
.env
.cardano.env
.bashrc
.npmrc
node_modules
temp
wiki
package-lock.json
src/config
src/pool/config/db-sync/secrets/*
!src/pool/config/db-sync/secrets/.gitkeep

docker_volumes/*
!docker_volumes/.gitkeep
data/relay/data/*
data/postgres/cdbsync/data/*
!data/postgres/cdbsync/data/.gitkeep
src/www.lidonation.com/var/www/storage/json/data/*

*.log*

# cntools
logs/archive/
!.gitkeep
mix-manifest.json