//fonts
//@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,100;1,300;1,700;1,900&display=swap');


//variables
//@import "variables";

//bootstrap
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import "codd-mirror";
@import 'base';
@import '../css/app.css';
@import "proposals";
@import "proposal";
@import "catalyst-user";
@import "catalyst-votes";
@import "bookmarks";
@import "voter-tool";
@import "category";
@import "insights";
@import "home";
@import "_ballot-quick-pitches";
@import "lido-minute-nft";
@import "lido-minute-podcast";
@import "catalyst-openapi";
@import "bazaar";
@import "library";
@import "labs";
@import "_lido-menu.scss";

[x-cloak] { display: none !important; }

#primary-menu .menu-item .menu-link {
    @apply h-full text-xs lg:text-base font-semibold text-white transition duration-150 ease-in-out;

    &.active, &:hover {
        @apply text-yellow-500;
    }
}

.splide__slide {
    img {
        @apply aspect-1;
    }
}


.paginator nav > div:last-child
{
    @apply flex-col-reverse gap-4;
}

.translations-wrapper .table {
    .table-row{
        .table-cell, > div{
            //@apply h-full;
        }
    }

    input {
        @apply w-full h-full;
    }
}

.comments-button.comments-button {
    --comments-color-accent: #5B8AE4;
}

.comments-nested .comments-comment {
    --comments-color-background-nested: rgb(249 250 251 / var(--tw-bg-opacity));
    @apply bg-gray-50;
}

.no-scrollbar {
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;

    &::-webkit-scrollbar {
        display: none;
    }
}

nav.lido-menu {
    .menu-items-wrapper  .menu-items-wrapper {
        @apply mt-4;
    }
}

#new-to-library .posts {
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;

    &::-webkit-scrollbar {
        display: none;
    }

    .post {
        .hero-wrapper {
            @apply pr-16;
        }
    }
}

.dropbtn {
  color: white;
  font-size: 16px;
  border: none;
  font-weight: bold;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {color: #22d3ee;}

#global-video-player-wrapper {
    input[type=range]::-moz-range-thumb,
    input[type=range]::-ms-thumb,
    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 18px;
        height: 18px;
        @apply bg-yellow-800;
    }
}

.plyr {
    --plyr-video-background: #c9b008;
    --primary: #c9b008;
}

.plyr--youtube .plyr__poster { pointer-events: none; }


/* squiggly text styling */
@keyframes squigglevision {
    0% {
    filter: url("#squiggly-0");
    }
    25% {
    filter: url("#squiggly-1");
    }
    50% {
    filter: url("#squiggly-2");
    }
    75% {
    filter: url("#squiggly-3");
    }
    100% {
    filter: url("#squiggly-4");
    }
}

.squiggle:hover {
    animation: squigglevision 0.6s linear infinite;
}

#swagger-ui {
    .opblock-section-header, .scheme-container{
        box-shadow: none !important;
    }
}
