@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'base';

@import '../css/app.css';
@import "_lido-menu";

[x-cloak] { display: none !important; }

#primary-menu .menu-item .menu-link {
    @apply items-center p-3 -m-3 h-full text-xs lg:text-base font-semibold text-white rounded-sm transition duration-150 ease-in-out md:m-0 md:p-1 md:mx-1 hover:bg-gray-50  md:hover:bg-transparent;

    &.active, &:hover {
        @apply text-yellow-500;
    }
}

body.delegators #everyEpoch {
    a {
        @apply text-teal-light-400 hover:text-yellow-500;
    }
}

body.delegators #header{
    @apply border-slate-800;

    #primary-menu .menu-item .menu-link {
        @apply text-slate-800;

        .search-btn{
            @apply text-slate-800 border-slate-800 hover:bg-primary-600 hover:text-white;
        }

        &.active{
            @apply text-teal-600;
        }
    }
    .brand-logo-wrapper .brand-link {
        :first-child {
            @apply  text-teal-600;
        }
    }
}

body.delegators header#header .brand-link > span:last-of-type,
body.delegators-roadmap header#header .brand-link > span:last-of-type {
    @apply text-slate-800;
}
body.delegators header#header .brand-logo-wrapper .brand-logo-link img:first-of-type {
    @apply block;
}
body.delegators header#header .brand-logo-wrapper .brand-logo-link img:last-of-type {
    @apply hidden;
}
body.delegators-roadmap section h1, body.delegators-roadmap section h2, body.delegators-roadmap section h3,
body.delegators-roadmap section h4, body.delegators-roadmap section h5, body.delegators-roadmap section h6,
body.delegators section h1, body.delegators section h2, body.delegators section h3,
body.delegators section h4, body.delegators section h5, body.delegators section h6 {
    //@apply font-title;
}
body.delegators #global-video-player-wrapper {
    display: none !important;
}

body.delegators #top-blob,
body.delegators-roadmap #top-blob{
    display: none;
}

body.delegators #header {
    @apply bg-white;
}
body.delegators-roadmap #header .login-btn,
body.delegators-roadmap #header .portal-btn,
body.delegators #header .login-btn,
body.delegators #header .portal-btn{
    @apply font-extrabold text-white bg-primary-600 focus:animate-pulse;
}
body.delegators-roadmap footer .pool-graphic > div,
body.delegators footer .pool-graphic > div {
    @apply text-teal-600;
}

body.delegators #current-campaign .phuffy-causes ul li .title{
    @apply text-2xl text-gray-800;
}

body.delegators dl a {
    @apply font-semibold text-teal-700 hover:text-phuffy-600;
}

body.delegators-roadmap footer .pool-graphic > div{
    //@apply text-teal-900;
    @apply text-teal-700;
}
body.delegators-roadmap #header,
body.delegators-roadmap footer {
    //@apply bg-primary-1000;
    @apply bg-teal-700;
}


body.delegators-roadmap .font-display{
    font-family: Balmy;
}
