body.governance-marathon .top-pool-wrapper {
    display: none;
}

body.governance-marathon #header {
    @apply border-teal-500;
}

body.governance-marathon .event-title {
    text-orientation: sideways;
    writing-mode: vertical-lr;
}

body.governance-marathon > footer,
body.governance-marathon #header,
body.governance-marathon #footer {
    @apply bg-teal-light-500 text-teal-900;

    dt, .copyright {
        @apply text-teal-800;
    }

    .border-b.left {
        @apply border-transparent;
    }

    h3, a, dd{
        @apply text-teal-900;
    }
}

body.governance-marathon #header .brand-link {
    @apply text-teal-800;
}

body.governance-marathon footer .button.primary,
body.governance-marathon footer .wallet-picker{
    @apply bg-teal-600;
}


body.governance-marathon footer .pool-graphic{
    @apply bg-teal-light-600;
}
body.governance-marathon footer .pool-graphic > div,
body.governance-marathon footer .pool-graphic > div,
body.governance-marathon footer .pool-graphic > div{
    @apply text-teal-light-500;
}
