body.votes {
    main {
        input[type="range"] {
            -webkit-appearance: none;
            background-image: linear-gradient(#94A3B8, #94A3B8);
            background-repeat: no-repeat;
        }

        input[type="range"]::-webkit-slider-thumb {
            -webkit-appearance: none !important;
            cursor: ew-resize;
            box-shadow: none;
            display: none !important;
            transition: background .3s ease-in-out;
            background-image: linear-gradient(#94A3B8, #94A3B8);
            border-color: #94A3B8;
            background-repeat: no-repeat;
        }

        input[type="range"]::-moz-range-thumb {
            -webkit-appearance: none !important;
            cursor: ew-resize;
            box-shadow: none;
            display: none !important;
            transition: background .3s ease-in-out;
            border-color: #94A3B8;
            background-image: linear-gradient(#94A3B8, #94A3B8);
            background-repeat: no-repeat;
        }

        input[type="range"]::-ms-thumb {
            -webkit-appearance: none !important;
            cursor: ew-resize;
            box-shadow: none;
            display: none !important;
            transition: background .3s ease-in-out;
            border-color: #94A3B8;
            background-image: linear-gradient(#94A3B8, #94A3B8);
            background-repeat: no-repeat;
        }

        input[type=range]::-webkit-slider-runnable-track  {
            -webkit-appearance: none;
            box-shadow: none;
            border: none;
            background: transparent;
        }

        .nominated {
            input[type="range"] {
                border-color: #2596be;
                background-image: linear-gradient(#2596be, #2596be);
            }
            input[type="range"]::-webkit-slider-thumb {
                border-color: #2596be;
                background-image: linear-gradient(#2596be, #2596be) !important;
            }
            input[type="range"]::-moz-range-thumb {
                border-color: #2596be;
                background-image: linear-gradient(#2596be, #2596be) !important;
            }
            input[type="range"]::-ms-thumb {
                border-color: #2596be;
                background-image: linear-gradient(#2596be, #2596be) !important;
            }
        }

    }
}
