body.proposal {
    .splide__video__play:after{
        border-color: transparent transparent transparent #FFF !important;
        border-width: 30px 0 27px 30px !important;
    }

    article {
        h3:not(:first-of-type) {
            @apply mt-6;
        }
    }
}

body.proposal .drip {
    .specs {
        @apply border-t-transparent;

        .spec-title,
        .amount-received {
            @apply hidden;
        }
    }
}

body.proposal #related-proposals {
    .proposal-drips {
        .proposal-drip img {
            display: none !important;
        }
    }
}

.catalyst-proposals-research-wrapper {
    .proposal-filters {
        .fund-filter, .challenge-filter {
            .choices {
                .choices__inner {
                    @apply inline-flex flex-col-reverse bg-white;
                    padding: 0 !important;
                    margin: 0 !important;

                    .choices__list {
                        @apply px-2 pb-2;
                    }

                    .choices__item{
                        @apply bg-teal-600;

                        .is-highlighted {
                            @apply bg-primary-200;
                        }
                    }
                }

                .choices__list {
                    .choices__item{
                        &.is-highlighted {
                            @apply bg-primary-50 bg-opacity-30;
                        }
                    }
                }

                input[type=search] {
                    @apply rounded-sm border-gray-200 border-0 outline-0 ring-0;
                    min-width: 100% !important;
                    &:active, &:focus {
                        @apply border-0 outline-0 ring-0;
                    }
                }
            }
        }
    }
}
