@import 'lido';
@import 'delegators';
@import "@vueform/toggle/themes/default.css";
@import "@vueform/multiselect/themes/default.css";

:root {
    --ms-spinner-color: #54bbeb;
    --ms-tag-bg: #54bbeb;
    ---ms-option-bg-selected: #54bbeb;
    --ms-option-bg-selected-pointed: #4ba8d3;
    --ms-ring-color: #54bbeb;
    --ms-option-bg-selected: #54bbeb;

    --slider-connect-bg: #4ba8d3;
    --slider-tooltip-bg: #4ba8d3;
    --slider-handle-ring-color: #54bbeb;
    --slider-tooltip-font-size: 0.675rem;
    --ms-max-height: 20rem;

    --v-border-color: #CBD5E1;
}